<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>edu</title>
</head>
<body>
	<h1>login</h1>

    <form action="checkLogin" method="post">
      <input type="text" name="username"/>
      <input type="password" name="password"/>
      <input type="submit"/>
    </form>

</body>
</html>