 #register {
     height: 552px;
     padding: 56px 0px;
     
 }
 #register .registered-trademark{
     height: 410px;
     width: 555px;
     margin-top: 30px;
     float: left;

 }
 #register  li{
     display: inline-block;
     width: 350px;
     margin-top: 20px;
 }
 #register  .info{
     width: 150px;
 }
.registered-trademark  input{
    width: 400px;
    height: 38px;
    outline: none;
    font-size:20px;
    text-indent: 10px;
    border:  solid 1px #d6d6d6;
}
 h2{
     height: 30px;
     font-size: 30px;
 }
  p{
      color: #999999;
  }

  #register  p{
      height: 25px;
      line-height: 25px;

  }
#register .click{
    height: 16px;
    width: 56px;
    color:#1B242F;
    cursor: pointer;
    margin-left: 3px;
    
    
}
.registered-trademark input[type="submit"] {
    margin-top: 20px;
    margin-left: 70px;
    width: 426px;
    height: 43px;
    padding: 8px 8px;
    border-radius: 10px;
    border: solid 1px ;
    background: #ef8743;
    color: #ffffff;

}
 .registered-trademark input[type="submit"]:hover{
     color: #000000;
 }

 #register .click:hover{
    color: #e74c3c;
    text-decoration:underline;
}
#certified{
    height: 400px;
    width: 528px;
    float: right;

    margin-left: 20px;
}


#certified  h3{
    height: 20px;
    color: #e74c3c;
    margin-top: 30px;
}
#certified  .ensure-content{
    height: 75px;
    margin-bottom: 60px;
}
#certified p{
    height: 100px;
    margin-top: 10px;
}